.fixed{position:fixed;
top:0;
left:calc((100vw-1000px)/2);
z-index:100;
}
.fixed1{
position:fixed;
z-index:2;
top:70px;
padding-top:0 !important;
}
.lfixed{
display:block;
position:fixed;
margin-left: 700px;
top:50px;
z-index:1;
}