span.user, span.ctitle {
    color: #222;
    font-size: 22px;
}
span.time {
    color: #fda701;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    float: right;
}
.comments {
    margin: 20px 20px 10px 0;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 20px;
    background: rgba(85,85,85,.2);
}