input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.content {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}
.error {
    border: 1px solid #0C0C0C;
    padding: 15px;
    margin-bottom: 10px;
}
.fl{float:left}
.w33{width:30%}